button {
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}

.primary {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 0.7em;
}

.primary:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
}

.secondary {
  border: 1px solid black;
  text-transform: capitalize;
  padding: 0.5em;
  color: black;
}

.secondary:hover,
.active {
  background-color: rgb(19, 19, 19);
  color: white;
  border: 1px solid white;
}

.skill-choice-button {
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.skill-choice-button:hover {
  background-color: rgba(224, 224, 224, 0.726);
}


