.cv-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2em;
  margin-top: 5em;
  align-items: flex-start;
}

.form-container {
  box-shadow: var(--shadow);
  padding: 1em;
  h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  textarea {
    width: 100%;
    padding: 1em;
  }
}


.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .cv-container {
    grid-template-columns: 1fr;
    
    gap: 1.5em;
  
    form {
      width: 100%;
    }
  }

 
}

