.date-group {
  display: flex;
  gap: 1em;
  width: 100%;
}

.date-group * {
  flex: 1;
}

.add-more-button {
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.7em;
  cursor: pointer;
}