.cv-paper-container {
  padding: 1em;
  box-shadow: var(--shadow);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h3 {
    border-bottom: 1px solid black;
    font-size: 1.2rem;
  }
}

.full-name {
  text-transform: capitalize;
  font-size: 2rem;
}

.contacts {
  display: flex;
  gap: 10px;
}

.company-position{
  display: flex;
  font-size: 1.1rem;
  div {
    font-weight: 700;
  }
}

.project-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.school-degree {
  display: flex;
}

.date-section {
  display: flex;
  font-size: 0.9rem;
  font-style: italic;
}